<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth"></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col  sizeSm="3" offsetSm="6">
        <ion-card>
          <ion-card-content>
            <form [formGroup]="signupForm" autocomplete="off" (ngSubmit)="Register(signupForm.value)">
              <ion-item>
                <ion-label position="floating"><ion-icon slot="start" name="at"></ion-icon>Email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              <div class="error-message">
                {{formError.email}}
              </div>
              <ion-item>
                <ion-label position="floating"><ion-icon slot="start" name="person"></ion-icon>Nom</ion-label>
                <ion-input type="text" formControlName="lastName" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating"><ion-icon slot="start" name="person"></ion-icon>Prénom</ion-label>
                <ion-input type="text" formControlName="firstName" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating"><ion-icon name="lock"></ion-icon> Mot de passe</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <div class="error-message">
                {{formError.password}}
              </div>
              <ion-button color="secondary" expand="block" class="ion-margin-top" type="submit" [disabled]="signupForm.invalid">Signup
                <ion-spinner name="dots" *ngIf="showSignupSpinner"></ion-spinner>
              </ion-button>
              <ion-button color="light" expand="block" class="ion-margin-top" (click)="goToLoginPage()">Go to Login
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>




<!--
<ion-content padding >
  <form class="form" [formGroup]="validationsform" (ngSubmit)="Register(validationsform.value)">

    <ion-item>
      <ion-label  position="floating" color="primary"> <ion-icon slot="start" name="at"></ion-icon> Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message" *ngIf="validationsform.get('email').hasError(validation.type) && (validationsform.get('email').dirty || validationsform.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary"><ion-icon slot="start" name="person"></ion-icon>Nom</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>
    <div class="validation-errors">
      &lt;!&ndash;<ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>&ndash;&gt;
    </div>
    <ion-item>
      <ion-label  position="floating" color="primary"><ion-icon slot="start" name="person"></ion-icon>Prénom</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <div class="validation-errors">
     &lt;!&ndash; <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>&ndash;&gt;
    </div>

    <ion-item>
      <ion-label  position="floating" color="primary"> <ion-icon name="lock"></ion-icon> Mot de passe</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div class="error-message" *ngIf="validationsform.get('password').hasError(validation.type) && (validationsform.get('password').dirty || validationsform.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <br>
    <ion-button color="black" expand="block" shape="round" fill="outline" class="submit-btn" type="submit"  [disabled]="!validationsform.valid" >Inscription</ion-button>

&lt;!&ndash;
    <ion-button  class="submit-btn" type="submit"  [disabled]="!loginForm.valid">Register</ion-button>
&ndash;&gt;
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
    <ion-item lines="none">
      <ion-button color="black" slot="end" fill="clear" (click)="Login()">Se Connecter?</ion-button>
    </ion-item>
  </form>
</ion-content>
-->
